body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#ausweis {
  position: relative;
  background-color: aliceblue;
  width: 86mm;
  height: 54mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5mm;
  border: 1mm solid transparent; /* only for spacing the colored border */
  box-sizing: border-box;
}

#ausweis::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1mm solid var(--border-color);
  box-sizing: border-box;
}

#ausweis > * {
  padding: 2.5mm;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#title {
  color: rgb(0, 0, 0);
  font-size: 7.5mm;
  text-align: center;
  margin-bottom: 2.5mm;
  text-decoration: underline;
}

#left {
  width: 48mm;
  color: rgb(0, 0, 0);
  font-size: 5mm;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

#lastName {
  margin-top: 2mm; 
}

#firstName {
  margin-top: 3mm; 
}

#qr {
  width: 30mm;
  height: 30mm;
}

#qr > svg > path {
  fill: none;
}
