body {
  font-family: Arial, Helvetica, sans-serif;
}

#ausweis {
  background-color: rgb(201, 201, 201);
  width: 86mm;
  height: 54mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2.5mm; */
  margin: 5mm;
}

#ausweis > * {
  padding: 2.5mm;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#title {
  color: rgb(0, 0, 0);
  font-size: 7.5mm;
  text-align: center;
  margin-bottom: 2.5mm;
  text-decoration: underline;
}

#left {
  width: 48mm;
  color: rgb(0, 0, 0);
  font-size: 5mm;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

#lastName {
  margin-top: 2mm; 
  background-color: #eee;
}

#firstName {
  margin-top: 3mm; 
  background-color: #eee;
}

#qr {
  width: 30mm;
  height: 30mm;
  background-color: #eee;
}
